* {
    box-sizing: border-box;
  }
body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}
.cont{
  background-color: rgba(172, 151, 212, 0.808);
  width:100%;
  height: 100%;
  border: 2px solid black;
}
h1{
    text-align: center;
    padding-bottom: 20px;
    margin-bottom: 0;
    letter-spacing: 1.5px;
    word-spacing: 2px;
    text-transform: uppercase;
    
}
  
.container{
    background-image: linear-gradient(rgb(223, 172, 223),rgb(216, 216, 116));
    font-size: medium;
    height: 100%;
    width: 45%;
    border: 1px solid black;
    padding:40px 30px;
    padding-bottom: 20px;
    margin:20px;
    margin-top:0;
    margin-bottom: 40px;
    border-radius: 8px;
}
.cards{
  background-image: linear-gradient(rgb(223, 172, 223),rgb(216, 216, 116));
    font-size: medium;
    height: 100%;
    width: 45%;
    border: 1px solid black;
    padding:20px 30px;
    margin:20px;
    margin-top:0;
    margin-bottom: 40px;
    border-radius: 8px;
    text-align: center;
}
.card1,.card2, .card3, .card4, .card5, .card6{
  background-color: white;
  width:45%;
  height:122px;
  margin:10px;
  display: flex;
  float: left;
  border: 1px solid black;
  text-align: center;
}
input, select, option{
    width: 90%;
    height: 25px;
    margin-bottom: 25px;
    margin-top: 5px;
}
.button{
  text-align: center;
}
button{
    background-color: rgb(70, 141, 70);
    width: 80px;
    padding: 8px;
    border-radius: 5px;
    font-size: medium;
    margin-bottom: 5px; 
    cursor: pointer;   
}
.flex{
  display: flex;
}
  